# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/*.tfstate
**/*.tfstate.*
**/terraform.tfvars
**/crash.log
**/crash.*.log

# Ansible / k3s outputs
**/generated-inventory.yml
**/kubeconfig-generated.yaml
**/kubeconfig*.yaml
**/dns-credentials.yaml

# OpenStack Credentials
clouds.yaml

# IDE / OS
.idea/
.vscode/
.DS_Store
