# Copy to dns-credentials.yaml and fill in real values
all:
  children:
    translate_k3s_server:
      vars:
        cert_manager_email: sXXXXXXX@student.dhbw-mannheim.de
        rfc2136_zone: your.zone.here
        rfc2136_tsig_secret_value: XXXXXXX=
        rfc2136_tsig_secret_alg: hmac-sha512
        rfc2136_tsig_secret_keyname: user-key-XXXXXXX
        kubeconfig_path: kubeconfig-generated.yaml
